@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Bungee+Shade|Cabin+Sketch|Carter+One|Ceviche+One|Changa+One|Chicle|Cinzel+Decorative|Condiment|Ewert|Fontdiner+Swanky|Frijole|Fruktur|Fugaz+One|Galada|Hanalei+Fill|Jacques+Francois+Shadow|Jolly+Lodger|Kenia|Lakki+Reddy|League+Script|Leckerli+One|Lemon|Libre+Baskerville|Life+Savers|Lily+Script+One|Lobster|Lobster+Two|Love+Ya+Like+A+Sister|Luckiest+Guy|Merienda+One|Metal+Mania|Miniver|Molle:400i|Nixie+One|Nova+Square|Passero+One|Peralta|Pirata+One|Rakkas|Rammetto+One|Righteous|Rock+Salt|Rye|Sancreek|Simonetta|Slackey|Sriracha|Tillana|Trade+Winds|UnifrakturMaguntia|Yeseva+One|Zilla+Slab+Highlight');


$font-RockSalt: 'Rock Salt', cursive;
$font-LeckerliOne: 'Leckerli One', cursive;
$font-MeriendaOne: 'Merienda One', cursive;
$font-Sriracha: 'Sriracha', cursive;
$font-LeagueScript: 'League Script', cursive;
$font-Condiment: 'Condiment', cursive;
$font-Tillana: 'Tillana', cursive;
$font-Molle: 'Molle', cursive;
$font-LakkiReddy: 'Lakki Reddy', cursive;
$font-Lobster: 'Lobster', cursive;
$font-ZillaSlabHighlight: 'Zilla Slab Highlight', cursive;
$font-Righteous: 'Righteous', cursive;
$font-LobsterTwo: 'Lobster Two', cursive;
$font-LuckiestGuy: 'Luckiest Guy', cursive;
$font-CabinSketch: 'Cabin Sketch', cursive;
$font-LoveYaLikeASister: 'Love Ya Like A Sister', cursive;
$font-FugazOne: 'Fugaz One', cursive;
$font-Frijole: 'Frijole', cursive;
$font-CevicheOne: 'Ceviche One', cursive;
$font-NixieOne: 'Nixie One', cursive;
$font-ChangaOne: 'Changa One', cursive;
$font-CarterOne: 'Carter One', cursive;
$font-CinzelDecorative: 'Cinzel Decorative', cursive;
$font-FontdinerSwanky: 'Fontdiner Swanky', cursive;
$font-RammettoOne: 'Rammetto One', cursive;
$font-YesevaOne: 'Yeseva One', cursive;
$font-Slackey: 'Slackey', cursive;
$font-LilyScriptOne: 'Lily Script One', cursive;
$font-Lemon: 'Lemon', cursive;
$font-UnifrakturMaguntia: 'UnifrakturMaguntia', cursive;
$font-BungeeShade: 'Bungee Shade', cursive;
$font-LifeSavers: 'Life Savers', cursive;
$font-NovaSquare: 'Nova Square', cursive;
$font-Simonetta: 'Simonetta', cursive;
$font-Rye: 'Rye', cursive;
$font-BalooTamma: 'Baloo Tamma', cursive;
$font-Sancreek: 'Sancreek', cursive;
$font-Miniver: 'Miniver', cursive;
$font-Chicle: 'Chicle', cursive;
$font-PirataOne: 'Pirata One', cursive;
$font-TradeWinds: 'Trade Winds', cursive;
$font-Rakkas: 'Rakkas', cursive;
$font-Peralta: 'Peralta', cursive;
$font-Ewert: 'Ewert', cursive;
$font-Fruktur: 'Fruktur', cursive;
$font-Kenia: 'Kenia', cursive;
$font-PasseroOne: 'Passero One', cursive;
$font-JacquesFrancoisShadow: 'Jacques Francois Shadow', cursive;
$font-JollyLodger: 'Jolly Lodger', cursive;
$font-Galada: 'Galada', cursive;
$font-MetalMania: 'Metal Mania', cursive;
$font-HanaleiFill: 'Hanalei Fill', cursive;
$font-LibreBaskerville: 'Libre Baskerville', serif;
